[submodule "polybar-themes"]
	path = polybar-themes
	url = https://github.com/adi1090x/polybar-themes.git
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = git@github.com-shosanna:dexpota/kitty-themes.git
